<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>客户信息</title>
    <!-- 使用框架 -->
    <!-- 引入Bootstrap CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/css/bootstrap.min.css" rel="stylesheet">    
    <!-- 引入jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- 引入Bootstrap JavaScript (确保在jQuery之后) -->
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.3.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 50%;
        }
    </style>
</head>
<body>
    <!-- 控制表单大小，不要占满全屏 --> 
    <div class="container">
    <h1>客户信息列表</h1>

    <table class="table table-striped">
        <tr>
            <th>房间号</th>
            <th>客户姓名</th>
            <th>客户电话</th>
            <th>入住日期</th>
            <th>退房日期</th>
            <th>租房类型</th>
            <th>身份证照片</th>
            <th>支付金额</th>
            <th>楼层</th>
            <th>房间号</th>
            <th>押金日期</th>
            <th>押金金额</th>
            <th>交易描述</th>
        </tr>
        {% for tenant in tenants %}
        <tr>
            <td>{{ tenant[1] }}</td>
            <td>{{ tenant[2] }}</td>
            <td>{{ tenant[3] }}</td>
            <td>{{ tenant[4] }}</td>
            <td>{{ tenant[5] }}</td>
            <td>{{ tenant[6] }}</td>
            <td><img src="{{ tenant[7] }}" alt="身份证照片" width="100"></td>
            <td>{{ tenant[8] }}</td>
            <td>{{ tenant[9] }}</td>
            <td>{{ tenant[10] }}</td>
            <td>{{ tenant[11] }}</td>
            <td>{{ tenant[12] }}</td>
            <td>{{ tenant[14] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/">返回首页</a>
    </div>
</body>



</html>